.container {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.row-container {
  width: 100%;
  display: flex;
}

.grid-item {
  height: 100%;
}
